
<h1>{{ title }}</h1>

<input class="form-control" [(ngModel)]="currentCourse.title" type="text" placeholder="New Course" (keyup.enter)="addCourse()">

<button *ngIf="!onUpdate" class="btn btn-primary btn-block" (click)="addCourse()"> Add </button>

<button *ngIf="onUpdate" class="btn btn-warning btn-block" (click)="updateCourse()"> Update </button>

<!-- <button class="btn btn-primary btn-sm" (click)="addCourse()"><i class="fa fa-plus"></i></button>
<p>{{ currentModel }}</p> -->

<ul class="list-group">
  <li class="list-group-item" *ngFor="let course of courses">

<!-- <button class="btn btn-sm" [class.btn-success]=course.active>
    <i class="fa fa-power-off"></i>
</button> -->


<button (click)="togglePower(course)" class="btn btn-sm" [ngClass]="
{
'btn-success' : course.active,
'btn-danger' : !course.active
}
">
    <i class="fa fa-power-off"></i>
</button>

<button (click)="toggleFavoris(course)" class="btn btn-sm ml-2">
    <i class="fa"  [ngClass]="
    {
    'fa-star' : course.is_favoris,
    'fa-star-o' : !course.is_favoris
    }
    "></i>
</button>

<app-votes
[like] = "course.votes.like"
[disLike] = "course.votes.disLike"
(changeVote) = "updateVote(course, $event)"
>
</app-votes>


    {{ course.title }} , price :  {{ course.price | currency:'EUR' : 'code' : '3.3-3' }}, date : {{ course.date | date:'dd/MM/yyyy' }}

    <p>{{ course.description | extrait:10 }}</p>

  <div class="text-right">

<button class="btn btn-warning btn-sm" (click)="editCourse(course)">
  <i class="fa fa-pencil"></i>
</button>
<button class="btn btn-danger btn-sm" (click)="removeCourse(course)">
  <i class="fa fa-trash"></i>
</button>   
  </div>


</ul>

<div *ngIf="courses.length; then hasCourses else noCourses"></div>

<ng-template #hasCourses>
    <div class="alert alert-info">Il existe {{ courses.length }} course</div>
</ng-template>

<ng-template #noCourses>
    <div class="alert alert-warning">Pas de cours</div>
</ng-template>



<!--
<i (click)="removeCourse()" class="fa fa-remove"></i>
<div *ngIf="courses.length" class="alert alert-info">Il existe {{ courses.length }} course</div>

<div *ngIf="!courses.length" class="alert alert-warning">Pas de cours</div>

 <ng-template #noCourses>
    <div *ngIf="courses.length; else noCourses" class="alert alert-info">Il existe {{ courses.length }} course</div>
</ng-template> -->


<!-- <app-navbar></app-navbar>

<div class="container">

  <div class="row">
    <div class="col-md-4">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-8">
        <app-content1></app-content1>
    
        <hr>
        
        <app-content2></app-content2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-footer></app-footer>
    </div>
  </div>
  
</div> -->